:root {
  --primary-color: #007BFF;
  --secondary-color: #6C757D;
  --background-color-light: #F8F9FA;
  --accent-color-green: #28A745;
  --accent-color-orange: #FFC107;
  --text-color-light: #343A40;
  --text-color-dark: #f5f5f5;
}

* {
  box-sizing: border-box;
}

#test1 {
  color: var(--primary-color)
}
#test2 {
  color: var(--secondary-color)
}
#test3 {
  color: var(--background-color)
}
#test4 {
  color: var(--accent-color-green)
}
#test5 {
  color: var(--accent-color-orange)
}
#test6 {
  color: var(--text-color)
}

body {
  background-color: var(--background-color-light);
}

a {
  text-decoration: none;
  color: unset; 
  height: unset;
}