/* Eliminar estilos predeterminados */
.input,
#textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* -- MAIN BOX -- */

#contactform_box {
  height: calc(100vh - 50px);
  width: 100%;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-columns: 50% 50%;

  @media screen and (width < 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: unset;
    padding: 20px 0;
  }
}

/* -- FORM -- */

#form {
  position: relative;
  display: flex;
  width: fit-content;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 15px 15px;
  border-radius: 16px;
  background: rgb(0,123,255);
  background: linear-gradient(153deg, rgba(0,123,255,0.8183648459383753) 1%, rgba(106,13,173,1) 96%);
  grid-row: span 2;
  align-self: center;
  justify-self: center;

  @media screen and (width < 768px) and (width > 320px) {
    margin: 10px 0;
  }

  @media screen and (width < 320px) {
    min-width: unset;
    width: 100%;
    padding: 8px 5px;
  }
}

#form_title {
  margin: 10px 0px;
  font-size: 20px;
  color: var(--text-color-dark);
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
  font-size: 13px;
  font-weight: 300;
  color: var(--text-color-dark);
}

#textarea, .input {
  width: 100%;
  padding: 7px 10px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.164);
  transition-duration: 300ms;
}

#textarea:focus, .input:focus {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.555));
  background-color: rgba(0, 0, 0, 0.445);
}

#textarea:focus::placeholder, .input:focus::placeholder {
  color: transparent;
}

#textarea:user-valid, .input:user-valid {
  box-shadow: 0 0 5px rgba(0, 255, 21, 0.959) !important;
}

#textarea:user-invalid, .input:user-invalid {
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.959);
}

.invalid_textarea {
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.959) !important;
}

#textarea::placeholder, .input::placeholder {
  color: rgba(255, 255, 255, 0.479);
}

.input {
  height: 35px;
}

#textarea {
  resize: none;
  height: 100px;
}

#buttons_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

#buttons_box::after {
  content: " ";
  height: 30px;
  width: 30px;
}

#submit {
  padding: 7px 12px;
  margin: 10px 20px;
  background-color: var(--accent-color-orange);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 300ms;
  border: none;
}

#submit:hover {
  transform: scale(1.1);
}

#reset {
  height: 30px;
  width: 30px;
  padding: 5px;
  color: white;
  background-color: var(--accent-color-green);
  border-radius: 100%;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.05,.73,.32,.98);
  cursor: pointer;
}

#reset:hover {
  transform: rotate(545deg) scale(1.1);
}

/* -- BANNER -- */

#banner_box {
  align-self: center;
  justify-self: center;
  max-width: 300px;

  @media screen and (width < 768px) {
    width: 100%;
    text-align: center;
  }
}

#banner_title {
  font-size: 30px;

  @media screen and (width < 768px) {
    font-size: 25px;
  }
}

#banner_content {
  font-size: 18px;

  @media screen and (width < 768px) {
    font-size: 15px;
  }
}

#banner_portfolio_link {
  color: #007bff;
  text-decoration: underline;
}

/* -- OUTPUT -- */

#output_box {
  height: 200px;
  width: 300px;
  align-self: center;
  justify-self: center;

  @media screen and (width < 768px) {
    text-align: center;
  }
}

#output_title {
  font-size: 19px;
}

#output_fallback {
  font-style: italic;
  color: gray;
  font-size: 15px;
}

/* -- JSONVIEW -- */

#json_box {
  height: 100%;
  width: 100%;
  background-color: transparent;
  animation: jsonappear 300ms ease-out forwards
}

.json_property {
  font-weight: 600;
  color: var(--text-color-light);
}

.json_value {
  font-weight: 300;
  color: var(--primary-color);
}

.json_value:before {
  content: " ";
}

/* -- ANIMATIONS */

@keyframes jsonappear {
  from {
    transform: scale(.8);
    filter: opacity(0);
  }
  to {
    transform: scale(1);
    filter: opacity(1);
  }
}





